$primary-color: #0266c8;
$secundary-color: #555;
$hoveer-color: blue;
$background-color: #f2f2f2;
$container-margin-top: 90px;
$width-search: 600px;
$height-search: 44px;
$border-search: 30px;
$buttons-color: #e8eaed;

%link-style{
    text-decoration: none;
    color: $secundary-color;
    display: inline-block;
    height: 36px;
    width: 150px;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    font-size: 12px;
    font-weight: bold;
    margin: 11px, 45px;
    min-width: 60px;
    padding: 0, 16px;
    border: 1px solid #303134;
    border-radius: 4px;

    &:hover {
        border: 0.9px solid $hoveer-color;
        box-shadow: 1px 1px 3px $hoveer-color;
        cursor: default;
    }

}

%footer-diseño {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #bdc1c6;
}

* {
    font-family: sans-serif;
}

.underline {
    &:hover {
        cursor: pointer;
        text-decoration: none;
    }
}

#e {
    display: inline-block;
    transform: rotate(-25deg);
    position: relative;
    left: -8.5px;
}

.container {
    margin-top: $container-margin-top;

    button {
        @extend %link-style;
        margin-top: 20px;
    }
}

i {
    cursor: pointer;
}

body, html {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: Comfortaa;
    background-color: #202124;
}

h1 {
    span {
        padding: 0;
        margin: 0;
        letter-spacing: -5px;
        font-size: 2.5rem;
        -webkit-text-stroke: 2px;
        cursor: pointer;
    }
}

.search {
    width: $width-search;
    height: $height-search;
    margin: 35px auto;
}

#cad {
    position: relative;
    right: -120px;
    top: -20px;
    cursor: pointer;
    color: $primary-color;
    font-weight: bold;
}

.fa-microfone {
    position: relative;
    top: -35px;
    left: 250px;
}

.images {
    
    display: flex;
    justify-content: end;

    a {
        color: #ffffff;
        left: 10px;
        padding: 20px;
        margin-top: 10px;
        margin-right: 20px;
        font-size: 13px;
    }
}

.header {
    display: flex;
    justify-content: flex-end;
}

.footer-p {
    background-color: #171717;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    .footer-1 {
        padding: 15px 36px;
        height: 48;
        width: 100%;
        border-bottom: 1px solid #3c4043;
        font-size: 15px;
        color: #e8eaed;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #171717;
        @extend %footer-diseño;
    }
    
    .footer-2 {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 20px;
        justify-content: center;
        justify-content: space-between;
        color: #e8eaed;
        height: 46px;
        width: auto;
        background-color: #171717;
        @extend %footer-diseño;
    
        .opciones1{
            text-align: center
        }
    
        a {
            color: #e8eaed;
            padding: 15px;
            white-space: nowrap;
            display: inline-block;
        } 
    }
}

.imagen_google {
    margin-top: -20px;
    position: inherit;
}
.google_img {
    height: 80px;
}

.buscador {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding:3px;
    border-radius: 28px;
    background-color: #202124;
    transition: background 0.25s;
    border: 1px solid #5f6368;


    input {
        color: #ffffff;
        width: $width-search;
        height: $height-search;
        margin-left: 5px;
        padding: 0 5px;
        font-size: 16px;
        outline: none;
        border: none;
        background: transparent;
    }

    .lupa {
        margin-left: 14px;
        color: white;
    }
}

.buscador:hover {
    background-color: #7e7e7e;
}

.input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    margin-left: 0px 10px;

    input[type="text"] {
        flex: 1;
        padding-left: 20px;
        font-size: 16px;
        border-radius: 4px;
        width: 100%;
        max-width: 100%;
    }
}

.botones {
    margin-bottom: 50px;
}

@media screen and (max-width: 874px) {
    .footer-p {

        .footer-2 {
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0px 20px;
        }

    }
}

@media screen and (max-width: 375px) and (max-height: 667px) {

    body {
        width: 100%;
    }

    .header {
        width: 100%;
    }

    .footer-p {
        background-color: #171717;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

}

@media screen and (max-width: 605px) {

    .header {
        justify-content: center;
        margin: 0px;

        .images {

            a {
                margin-right: 0px;
                margin-top: 10px;
            }

        }
    }
}